@font-face {
  font-family: 'Enigma-EnigmaLargeRoman';
  src: url('../assets/fonts/Enigma-EnigmaLargeRoman.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'OCR-B';
  src: url('../assets/fonts/OCR-B.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'ABCFavoritMono';
  src: url('../assets/fonts/ABCFavoritMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCGaisyr-Light';
  src: url('../assets/fonts/ABCGaisyr-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OCR-B', 'OCR B', 'Courier Prime', monospace;
}
